@font-face {
  font-family: 'Product Sans';
  src: url("../fonts/ProductSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Custom Font Utility */
.font-product {
  font-family: 'Product Sans', sans-serif !important;

}
.font-rubik{
  font-family: 'Rubik', sans-serif !important;
}

/* Custom Color Utility */
.text-custom{
  color: #2C6E49 !important;
  font-weight: 900;
  letter-spacing: 1px;
  
}

/* Root Variables */
:root {
  --primary-green: #2C6E49;
  --accent-green: #2f8f4e;
  --hover-green: #d0e9d4;
  --light-bg: #ececec;
  --submenu-bg: #f3faf4;
}

/* Global Layout */
body {
  margin: 0;
  display: flex;
  font-family: 'Product Sans', sans-serif;
  background-color: var(--light-bg);
}
